workflows/Waypoint-mail-retriever.json
{
  "name": "Waypoint-mail-retriever",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8,12,18 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ],
      "id": "c3d583d3-52cd-4789-9a90-434dba389add",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "=after:{{ $json.slots[0].after }} \nbefore:{{ $json.slots[0].before }}\n"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -16
      ],
      "id": "039e085b-09ab-45e5-8436-582676f38124",
      "name": "Get many messages",
      "webhookId": "ef17005e-189a-4fc3-9f55-4d2ce6dbb591",
      "credentials": {
        "gmailOAuth2": {
          "id": "6XxzwJNQIwuocXy5",
          "name": "joe.at.waypoint@gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_Mail_Table\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "mail_id",
              "keyValue": "={{ $('Get many messages').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1072,
        -16
      ],
      "id": "3e59cfa2-f21a-4e14-b782-537cbf7e92c7",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b99ad580-4022-496d-9068-c32907e332a1",
              "name": "User Name",
              "value": "Waypoint",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        0
      ],
      "id": "c49ce4ba-f042-4966-8d91-4001b613db37",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c53610b-7d93-430f-8e8a-3204287089f2",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        0
      ],
      "id": "f8d24caf-cfbf-4ad2-a0d3-22860e5977c1",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "={{ $('Edit Fields').item.json['User Name']+\"_Mail_Table\" }}",
        "columns": {
          "column": [
            {
              "name": "mail_id"
            },
            {
              "name": "thread_id"
            },
            {
              "name": "receive_time"
            },
            {
              "name": "from"
            },
            {
              "name": "to"
            },
            {
              "name": "subject"
            },
            {
              "name": "snippet"
            },
            {
              "name": "llm_status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        320,
        112
      ],
      "id": "e6a9d147-3afb-45cd-836e-d1ef68e37508",
      "name": "Create a mail table"
    },
    {
      "parameters": {
        "resource": "table",
        "returnAll": false,
        "limit": 1,
        "options": {
          "filterName": "={{ $json['User Name']+\"_Mail_Table\" }}"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -48,
        0
      ],
      "id": "71c8aa95-2b1d-499f-af6c-e014b7afec91",
      "name": "check mail table if exist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_Mail_Table\" }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mail_id": "={{ $('Get many messages').item.json.id }}",
            "thread_id": "={{ $('Get many messages').item.json.threadId }}",
            "subject": "={{ $('Get many messages').item.json.Subject }}",
            "to": "={{ $('Get many messages').item.json.To }}",
            "from": "={{ $('Get many messages').item.json.From }}",
            "receive_time": "={{ new Date(parseInt($json.internalDate) + 8 * 60 * 60 * 1000).toISOString() }}",
            "snippet": "={{ $('Get many messages').item.json.snippet }}",
            "llm_status": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mail_id",
              "displayName": "mail_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "receive_time",
              "displayName": "receive_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "llm_status",
              "displayName": "llm_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1280,
        -16
      ],
      "id": "460b0656-5b01-4960-9981-1fb1f1fc8d73",
      "name": "Insert mail data"
    },
    {
      "parameters": {
        "jsCode": "// 目前時間（台灣）\nconst now = DateTime.now().setZone('Asia/Taipei');\n\n// 用「今天」當基準\nconst base = now.startOf('day');\n\nconst slots = [\n  { label: '08-12', startHour: 8, endHour: 12 },\n  { label: '12-18', startHour: 12, endHour: 18 },\n  { label: '18-24', startHour: 18, endHour: 24 },\n];\n\n// 找出「現在時間落在哪個 slot」\nconst currentSlot = slots.find(s => {\n  const start = base.set({ hour: s.startHour });\n  const end = base.set({ hour: s.endHour });\n  return now >= start && now < end;\n});\n\n// ❌ 如果現在不是 08–24（例如凌晨），直接不輸出\nif (!currentSlot) {\n  return [];\n}\n\n// 算該 slot 的 after / before\nconst start = base.set({\n  hour: currentSlot.startHour,\n  minute: 0,\n  second: 0,\n  millisecond: 0,\n});\n\nconst end = base.set({\n  hour: currentSlot.endHour,\n  minute: 0,\n  second: 0,\n  millisecond: 0,\n});\n\n// ✅ 只回傳「一個 item」\nreturn [\n  {\n    json: {\n      label: currentSlot.label,\n      after: Math.floor(start.toSeconds()),   // Gmail 要秒\n      before: Math.floor(end.toSeconds()),\n      date: base.toISODate(),\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -16
      ],
      "id": "f635226a-a359-476a-829c-01cbef70fad7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"slots\": [\n    {\n      \"label\": \"{{ $json.label }}\",\n      \"after\": {{ $json.after }},\n      \"before\": {{ $json.before }}\n    },\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -16
      ],
      "id": "067927cc-cbc8-4524-8358-ba48cd14d2a2",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert mail data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "check mail table if exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a mail table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a mail table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check mail table if exist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert mail data": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a56485a7-de7d-462c-b2db-f96ca16bdee6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d439c4d93c659f0613cd7f721f34cb95f1d33a263ec1a3aee355b8efbb09a1d"
  },
  "id": "54TLz7B-rSSGLgpiV4ish",
  "tags": []
}