workflows/Waypoint-mail-retriever.json
{
  "name": "Waypoint-mail-retriever",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ],
      "id": "c3d583d3-52cd-4789-9a90-434dba389add",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "receivedAfter": "="
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -16
      ],
      "id": "039e085b-09ab-45e5-8436-582676f38124",
      "name": "Get many messages",
      "webhookId": "ef17005e-189a-4fc3-9f55-4d2ce6dbb591",
      "credentials": {
        "gmailOAuth2": {
          "id": "6XxzwJNQIwuocXy5",
          "name": "joe.at.waypoint@gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_Mail_DB\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Mail_id",
              "keyValue": "={{ $('Get many messages').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        832,
        -16
      ],
      "id": "3e59cfa2-f21a-4e14-b782-537cbf7e92c7",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b99ad580-4022-496d-9068-c32907e332a1",
              "name": "User Name",
              "value": "Waypoint",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        0
      ],
      "id": "c49ce4ba-f042-4966-8d91-4001b613db37",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c53610b-7d93-430f-8e8a-3204287089f2",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -16
      ],
      "id": "f8d24caf-cfbf-4ad2-a0d3-22860e5977c1",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "={{ $('Edit Fields').item.json['User Name']+\"_Mail_DB\" }}",
        "columns": {
          "column": [
            {
              "name": "Mail_id"
            },
            {
              "name": "ThreadId"
            },
            {
              "name": "Receive_Time"
            },
            {
              "name": "From"
            },
            {
              "name": "To"
            },
            {
              "name": "Subject"
            },
            {
              "name": "Snippet"
            },
            {
              "name": "LLM_status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        320,
        112
      ],
      "id": "e6a9d147-3afb-45cd-836e-d1ef68e37508",
      "name": "Create a mail table"
    },
    {
      "parameters": {
        "resource": "table",
        "returnAll": false,
        "limit": 1,
        "options": {
          "filterName": "={{ $json['User Name']+\"_Mail_DB\" }}"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -32,
        0
      ],
      "id": "71c8aa95-2b1d-499f-af6c-e014b7afec91",
      "name": "check mail table if exist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_Mail_DB\" }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mail_id",
              "displayName": "Mail_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ThreadId",
              "displayName": "ThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Receive_Time",
              "displayName": "Receive_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LLM_status",
              "displayName": "LLM_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1056,
        -16
      ],
      "id": "460b0656-5b01-4960-9981-1fb1f1fc8d73",
      "name": "Insert mail data"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert mail data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "check mail table if exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a mail table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a mail table": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check mail table if exist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert mail data": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1c3f6a53-e278-4538-bfc3-520a22a1b2c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d439c4d93c659f0613cd7f721f34cb95f1d33a263ec1a3aee355b8efbb09a1d"
  },
  "id": "54TLz7B-rSSGLgpiV4ish",
  "tags": []
}