workflows/Waypoint-classifier.json
{
  "name": "Waypoint-classifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        -16
      ],
      "id": "76de3dab-0526-4ada-b4cb-5831c8ce8574",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1728,
        192
      ],
      "id": "ecc3721c-2014-4d15-a8b2-9aaeb3848e42",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fwDjRpCsBU4HmMep",
          "name": "Joe_OpenAi"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "={{ $('Edit Fields').item.json['User Name']+\"_LLM_DB\" }}",
        "columns": {
          "column": [
            {
              "name": "From"
            },
            {
              "name": "To"
            },
            {
              "name": "Subject"
            },
            {
              "name": "Mail_Summary"
            },
            {
              "name": "ThreadId"
            },
            {
              "name": "Tag"
            },
            {
              "name": "Due_date"
            },
            {
              "name": "Task_status"
            },
            {
              "name": "Lable_status"
            },
            {
              "name": "Mail_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        176
      ],
      "id": "49130d42-cc4b-47db-8147-6ac24055b3df",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email thread analysis assistant. Your goal is to analyze a series of emails within the SAME thread and output a single, consolidated JSON: {\"ThreadId\": \"string\", \"Subject\": \"string\", \"tag\":\"Noise|Draft Task|FYI|Forward\", \"dueDate\":\"RFC3339\", \"mail_summary\": \"Summary\"}. Do not output any other text.\n\n### CRITICAL INSTRUCTIONS\n1. **Case Sensitivity**: You MUST use lowercase for all keys: \"threadId\", \"subject\", \"tag\", \"dueDate\", \"mail_summary\".\n2. **threadId Extraction**: Use the exact value from \"Target_ThreadId\" below.\n3. **subject Selection**: Use the Subject from the OLDEST email in the thread.\n4. **JSON Safety**: Do not use double quotes inside the summary or subject strings unless they are escaped with a backslash (\\\"). Output everything on a single line.\n\n【Consolidation Logic】\n    1. **threadId**: Set to the value of \"Target_ThreadId\".\n    2. **subject**: Use the subject line from the earliest message in the sequence.\n    3. **Tagging**: Determine the tag based on the LATEST state of the conversation. If a task was requested in an early email but completed/cancelled in a later one, the tag should be FYI or Noise.\n    4. **DueDate**: Extract the most relevant deadline from the entire thread. If multiple deadlines exist, pick the one from the most recent message or the one that is explicitly final.\n    5. **Summary**: Summarize the entire progression of the conversation in 1-2 sentences. Prioritize information from the latest Receive_Time.Avoid special characters and ensure the text is JSON-safe.If the body is empty or contains no meaningful text, output \"No content available\".\n\n\n【Classification Rules (By Priority)】\n  - Forward: Clearly intended to be forwarded to others, a specific contact, or another department (e.g., \"Please forward,\" \"Please have XX handle this,\" \"Not my responsibility\").\n\n  - FYI: Any other informational content requiring no action. Policy Exceptions: Any mention of \"Privacy Notice/Terms/Policy updates\" is strictly FYI. Even if phrases like \"Please visit the link to review/read/check/understand/refer to/view/confirm update contents\" appear, it remains FYI.\nChange to Draft Task ONLY if a \"Mandatory Action\" is required: Agree/Accept (click to agree, re-agree, opt-in/out), Reply, Submit/Upload/Fill out a form, Set up/Verify, Pay/Unsubscribe, or if \"Consequence Keywords\" appear (\"Must,\" \"Otherwise,\" \"If not completed... will result in,\" \"Stop service,\" \"Restrict use\").\n\"Confirm\" Distinction: \"Confirming content\" = FYI; \"Confirming completion of an action\" (Reply/Submit/Payment/Setup) = Draft Task.\n\n  - Draft Task: Contains a clear request for you to do something, deliver, reply, or process (Note: \"Please\" does not automatically mean a task; if it's just to read/review/check content → FYI).\n\n  - Noise: Advertisements, promotions, newsletters, push notifications, social media updates, or automated system notifications requiring no action.\n\n\n【dueDate Extraction】\n  - Only fill this if there is a clear deadline semantics (Deadline, Latest, Please by, Expiry, Before, By) or a mandatory action timeframe.\n  - If multiple dates exist, choose the one most likely to be the deadline and the closest to the current date.\n - If only a date is provided without a time → default to 23:59:59.000Z of that day.\n - If no deadline exists → null; if a relative time cannot be converted to a specific date → null.\n\nOutput must be an RFC3339/ISO8601 UTC formatted string (e.g., 2026-01-21T13:54:39.000Z).\n\n【Input】\nTarget_ThreadId: {{ $('Code in JavaScript').item.json.ThreadId }}\nCurrent Time: {{ $now }}\n\nEmail Contents (ordered by Receive_Time):\n{{ JSON.stringify($json.Content) }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1744,
        -16
      ],
      "id": "9daf6945-00c3-405d-8cd2-efac00a60999",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"threadId\": {\n      \"type\": \"string\",\n      \"description\": \"The ID provided as Target_ThreadId.\"\n    },\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The oldest subject line.\"\n    },\n    \"tag\": {\n      \"type\": \"string\",\n      \"enum\": [\"Noise\", \"Draft Task\", \"FYI\", \"Forward\"],\n      \"description\": \"Task category.\"\n    },\n    \"dueDate\": {\n      \"type\": [\"string\", \"null\"],\n      \"format\": \"date-time\",\n      \"description\": \"RFC3339 date or null.\"\n    },\n    \"mail_summary\": {\n      \"type\": \"string\",\n      \"description\": \"JSON-safe summary.\"\n    }\n  },\n  \"required\": [\"threadId\", \"subject\", \"tag\", \"dueDate\", \"mail_summary\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        192
      ],
      "id": "de2b89c4-b7ad-44c4-8666-5779039a2597",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b99ad580-4022-496d-9068-c32907e332a1",
              "name": "User Name",
              "value": "Waypoint",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -16
      ],
      "id": "68c2a315-8472-4b76-9c8e-0fc02a840b13",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "810fa7eb-efd7-4943-82c2-44c63d2dba9e",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -16
      ],
      "id": "75f18988-5033-4530-b548-f767c7d430a9",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_Mail_DB\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "LLM_status",
              "keyValue": "0"
            }
          ]
        },
        "limit": 10
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        832,
        -16
      ],
      "id": "d1a03737-125f-46cf-9acc-47f6c18ed7e1",
      "name": "Get Mail Data"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_LLM_DB\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "ThreadId",
              "keyValue": "={{ $json.ThreadId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        976,
        160
      ],
      "id": "4f3d04e2-a3b4-4ab0-a80a-d3683ab8f55b",
      "name": "Get LLM Data"
    },
    {
      "parameters": {
        "jsCode": "const threadMap = {};\n// 處理 SQL 合併後的每一行\nfor (const item of $input.all()) {\n  const d = item.json;\n  if (!threadMap[d.ThreadId]) {\n    threadMap[d.ThreadId] = { ThreadId: d.ThreadId, Content: [] };\n  }\n  threadMap[d.ThreadId].Content.push({\n    Subject: d.Subject,\n    Receive_Time: d.time_val,\n    Snippet: d.content_val\n  });\n}\nreturn Object.values(threadMap).map(v => ({ json: v }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -16
      ],
      "id": "3c867788-3c6e-4adb-802f-4db3fc107b77",
      "name": "Code in JavaScript",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT ThreadId,Subject,updatedAt AS time_val, Mail_Summary AS content_val FROM input2\nUNION ALL\nSELECT ThreadId,Subject,Receive_Time AS time_val, Snippet AS content_val FROM input1\nORDER BY time_val ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        -16
      ],
      "id": "cacb3d6b-114e-4b71-852d-61600e780970",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1200,
        160
      ],
      "id": "2b1ce79e-c4d9-4fef-bee9-24f835833f35",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {
          "filterName": "={{ $('Edit Fields').item.json['User Name']+\"_LLM_DB\" }}"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        160,
        -16
      ],
      "id": "21b86c69-51cd-4667-ad4d-aaf5193355f4",
      "name": "list LLM Table",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first(0).json[\"User Name\"] + \"_LLM_DB\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "ThreadId",
              "keyValue": "={{ $node[\"Code in JavaScript\"].json[\"ThreadId\"] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tag": "={{ $json.output.tag }}",
            "Due_date": "={{ $json.output.dueDate }}",
            "Task_status": "0",
            "Lable_status": "0",
            "ThreadId": "={{ $('Code in JavaScript').item.json.ThreadId }}",
            "Mail_Summary": "={{ $json.output.mail_summary }}",
            "Subject": "={{ $json.output.subject }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail_Summary",
              "displayName": "Mail_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ThreadId",
              "displayName": "ThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Due_date",
              "displayName": "Due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Task_status",
              "displayName": "Task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lable_status",
              "displayName": "Lable_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mail_id",
              "displayName": "Mail_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2128,
        -16
      ],
      "id": "c367138f-3b03-4f91-a8db-c869569989fd",
      "name": "Upsert row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a data table": {
      "main": [
        [
          {
            "node": "Get Mail Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "list LLM Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Mail Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mail Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get LLM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LLM Data": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "list LLM Table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0fc3deea-8c88-4443-92b1-4a2ceedf690e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d439c4d93c659f0613cd7f721f34cb95f1d33a263ec1a3aee355b8efbb09a1d"
  },
  "id": "ki9dWMYfJFWsQ_IvqVBqJ",
  "tags": []
}