workflows/Waypoint-mail-retriever.json
{
  "name": "Waypoint-mail-retriever",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        0
      ],
      "id": "c3d583d3-52cd-4789-9a90-434dba389add",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -16
      ],
      "id": "039e085b-09ab-45e5-8436-582676f38124",
      "name": "Get many messages",
      "webhookId": "ef17005e-189a-4fc3-9f55-4d2ce6dbb591",
      "credentials": {
        "gmailOAuth2": {
          "id": "Vwsa6HG8qejjh8fB",
          "name": "Astor_Gmail"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        656,
        -16
      ],
      "id": "3ed1454b-176a-4138-9137-07b068d4219b",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "Waypoint_Mail_DB",
        "columns": {
          "column": [
            {
              "name": "From"
            },
            {
              "name": "To"
            },
            {
              "name": "Subject"
            },
            {
              "name": "snippet"
            },
            {
              "name": "threadId"
            },
            {
              "name": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        304,
        128
      ],
      "id": "1f355b9e-a9f0-4dc0-bf5b-5e37f59d86fd",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "nrnwFAr2mz3O24LD",
          "mode": "list",
          "cachedResultName": "Waypoint_Mail_DB",
          "cachedResultUrl": "/projects/FrVfm13rbs02W3ED/datatables/nrnwFAr2mz3O24LD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "threadId": "={{ $('Get many messages').item.json.threadId }}",
            "snippet": "={{ $('Get many messages').item.json.snippet }}",
            "Subject": "={{ $('Get many messages').item.json.Subject }}",
            "To": "={{ $('Get many messages').item.json.To }}",
            "From": "={{ $('Get many messages').item.json.From }}",
            "status": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1008,
        -16
      ],
      "id": "28ad70bc-8e74-4602-b4ea-0182c53c2d90",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "nrnwFAr2mz3O24LD",
          "mode": "list",
          "cachedResultName": "Waypoint_Mail_DB",
          "cachedResultUrl": "/projects/FrVfm13rbs02W3ED/datatables/nrnwFAr2mz3O24LD"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "threadId",
              "keyValue": "={{ $('Get many messages').item.json.threadId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        816,
        -16
      ],
      "id": "07a13e40-f5ec-445f-8b18-3598da6603c1",
      "name": "If row does not exist1"
    },
    {
      "parameters": {
        "resource": "table",
        "returnAll": false,
        "limit": 1,
        "options": {
          "filterName": "Waypoint_Mail_DB"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -16,
        0
      ],
      "id": "71c8aa95-2b1d-499f-af6c-e014b7afec91",
      "name": "List data tables1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9202d810-6fea-48f2-84ef-708f692b62d9",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        0
      ],
      "id": "74edc656-b79b-4da9-8bd6-aa3e69306921",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List data tables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If row does not exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a data table": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d4d5aa60-b735-4311-8f55-c0b8613f4cd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d439c4d93c659f0613cd7f721f34cb95f1d33a263ec1a3aee355b8efbb09a1d"
  },
  "id": "54TLz7B-rSSGLgpiV4ish",
  "tags": []
}