workflows/Waypoint-task.json
{
  "name": "Waypoint-task",
  "nodes": [
    {
      "parameters": {
        "content": "## 基本創建 task\n**",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -272
      ],
      "id": "4612c1d5-3e0a-40ba-8e38-67ab18146942",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1088,
        160
      ],
      "id": "c061cad4-885b-4521-9d09-b207c951b777",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b99ad580-4022-496d-9068-c32907e332a1",
              "name": "User Name",
              "value": "Waypoint",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        160
      ],
      "id": "5ce3ec6d-e086-4d2c-82cf-9d26c7bb4dac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "task": "MTQ2NTkwOTI4MDE4OTEwMDMwNDg6MDow",
        "title": "={{ $json.task_subject }}",
        "additionalFields": {
          "dueDate": "={{ $json.due_date }}",
          "notes": "=Task Summary : {{ $json.task_content }}\nThread Url : https://mail.google.com/mail/u/4/#inbox/{{ $json.thread_id }}"
        }
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1344,
        224
      ],
      "id": "7821a1c8-b8bc-4f03-a901-4b00a806f9c0",
      "name": "Create a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qz1LtcaE6G08u1yY",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "task": "MTQ2NTkwOTI4MDE4OTEwMDMwNDg6MDow",
        "title": "={{ $json.task_subject }}",
        "additionalFields": {
          "notes": "=Task Summary : {{ $json.task_content }}\nThread Url : https://mail.google.com/mail/u/4/#inbox/{{ $json.thread_id }}"
        }
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1360,
        -16
      ],
      "id": "20dadcd7-8fb3-42aa-b16d-ec16df0cb709",
      "name": "Create a task with no due date",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qz1LtcaE6G08u1yY",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first(0).json['User Name']+\"_Task_Table\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json.id }}",
            "create_task_status": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "task_subject",
              "displayName": "task_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "task_content",
              "displayName": "task_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "create_task_status",
              "displayName": "create_task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1712,
        176
      ],
      "id": "788e83d9-a4d8-4f8a-9540-2070f3980027",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $json['User Name']+\"_LLM_Table\" }}",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "task_status",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -736,
        160
      ],
      "id": "636cbf8f-c240-43e4-8249-6538f836ab92",
      "name": "Get LLM task_status"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_Task_Table\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "thread_id",
              "keyValue": "={{ $json.thread_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -512,
        160
      ],
      "id": "bb10d0ae-9d7a-4df1-bbf4-78ab14ad677b",
      "name": "Get Task_Table"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// 取得所有從上一個節點 (Get Task_Table) 傳入的項目\nconst items = $input.all();\n\n// 使用一個物件來存放按 thread_id 分組後的結果\nconst grouped = {};\n\nfor (const item of items) {\n  const data = item.json;\n  const threadId = data.thread_id;\n\n  // 如果這個 thread_id 還沒在 grouped 物件中，初始化它\n  if (!grouped[threadId]) {\n    grouped[threadId] = {\n      thread_id: threadId,\n      tasks: []\n    };\n  }\n\n  // 將當前項目的 task 資訊推入該 thread_id 的 tasks 陣列中\n  grouped[threadId].tasks.push({\n    task_id: data.task_id || null,\n    task_subject: data.task_subject,\n    task_content: data.task_content,\n    due_date: data.due_date || null, // 確保 null 值正確傳遞\n    create_task_status: data.create_task_status,\n  });\n}\n\n// 將物件轉換回 n8n 要求的陣列格式輸出\nreturn Object.values(grouped).map(content => {\n  return { json: content };\n});;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        160
      ],
      "id": "3f39e520-1552-4fe6-b294-ed9facaf783a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Role\nYou are a Task Synchronization Expert. Your goal is to reconcile new task extractions with existing records for a specific thread_id.\n\n## Context\nInput includes:\n- create_task_status = \"1\": Existing database records.\n- create_task_status = \"0\": Newly extracted tasks.\n\n## Processing Logic\n1. De-duplication: If a status=\"0\" task is identical in substance to a status=\"1\" task, remove the status=\"0\" version and keep the status=\"1\" record.\n2. Update Check: If a status=\"0\" task updates an existing status=\"1\" task, replace the content and set its create_task_status to \"0\".\n3. Retention: Keep all unchanged status=\"1\" tasks and all brand-new status=\"0\" tasks.\n\n## Constraints\n- **IMPORTANT**: You must preserve the `task_id` for each task from the input data and include it in the output.\n- Ensure `create_task_status` is returned as a string (\"0\" or \"1\").\n- Each task in the final array must include the `thread_id`.\n\n\n## Input Data\nBelow is the task data to process:\nthread_id: {{ $json.thread_id }}\nTask : {{ JSON.stringify($json.tasks) }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        160
      ],
      "id": "d4396f25-f7a3-4396-818a-f1f95b97aea8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        384
      ],
      "id": "9dfb933f-d6c5-4473-acaa-460c2250ef23",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fwDjRpCsBU4HmMep",
          "name": "Joe_OpenAi"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"final_tasks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"task_id\": { \"type\": \"string\", \"description\": \"The original task ID from input\" },\n          \"thread_id\": { \"type\": \"string\" },\n          \"task_subject\": { \"type\": \"string\" },\n          \"task_content\": { \"type\": \"string\" },\n          \"due_date\": { \"type\": [\"string\", \"null\"] },\n          \"create_task_status\": {\n            \"type\": \"string\",\n            \"enum\": [\"0\", \"1\"],\n            \"description\": \"Output '0' as string for new/updated, '1' as string for unchanged\"\n          }\n        },\n        \"required\": [\"thread_id\", \"task_subject\", \"task_content\", \"create_task_status\"]\n      }\n    }\n  },\n  \"required\": [\"final_tasks\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -16,
        368
      ],
      "id": "1a45e3ef-8419-4042-9589-b314075cfc79",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first(0).json['User Name']+\"_Task_Table\" }}",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "thread_id",
              "keyValue": "={{ $json.thread_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -112,
        16
      ],
      "id": "c26e8df4-cb9c-4e00-89ae-6f7dca2dc56a",
      "name": "Delete row(s)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.final_tasks",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "6f602796-2fa0-4484-a773-3ae32e89c705",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f70dac65-09b8-44bb-9f6a-c7e778e43c17",
              "leftValue": "={{ $json.create_task_status }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        576,
        192
      ],
      "id": "55ddfe7b-6b97-4556-955c-c155d6802c6d",
      "name": "create_task_status=0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0141e42-2982-476b-8456-37bc42cc4241",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        192
      ],
      "id": "cc1551e2-83d4-41a7-805c-bcf84dd5bed1",
      "name": "if Task_id =null"
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MTQ2NTkwOTI4MDE4OTEwMDMwNDg6MDow",
        "taskId": "={{ $json.task_id }}",
        "updateFields": {
          "notes": "=Task Summary : {{ $json.task_content }} \nThread Url : https://mail.google.com/mail/u/4/#inbox/{{ $json.thread_id }}"
        }
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1136,
        400
      ],
      "id": "61a49d6d-0573-40aa-854e-bdc18c9f68be",
      "name": "Update a task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "qz1LtcaE6G08u1yY",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb7397d6-9c5d-4656-b516-f4d51a55a311",
              "leftValue": "={{ $json.due_date }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "51fe9bb7-2dac-483e-8518-0d1d04210eb7",
              "leftValue": "={{ $json.due_date }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        128
      ],
      "id": "532b0415-fd68-4dcb-8579-ac8d854750dd",
      "name": "If due date is null"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_Task_Table\" }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json['output.final_tasks'].task_id }}",
            "thread_id": "={{ $json['output.final_tasks'].thread_id }}",
            "task_subject": "={{ $json['output.final_tasks'].task_subject }}",
            "task_content": "={{ $json['output.final_tasks'].task_content }}",
            "due_date": "={{ $json['output.final_tasks'].due_date }}",
            "create_task_status": "={{ $json['output.final_tasks'].create_task_status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_subject",
              "displayName": "task_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_content",
              "displayName": "task_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "create_task_status",
              "displayName": "create_task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        368,
        192
      ],
      "id": "bf48ea13-cc11-4069-938e-c2884050e0c8",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json['User Name']+\"_LLM_Table\" }}",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "thread_id",
              "keyValue": "={{ $json.thread_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_status": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "mail_summary",
              "displayName": "mail_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag",
              "displayName": "tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "label_status",
              "displayName": "label_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "task_status",
              "displayName": "task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1920,
        176
      ],
      "id": "8a5c51ff-665a-4e10-a0b4-e0a08f9cca30",
      "name": "Update row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get LLM task_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task with no due date": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LLM task_status": {
      "main": [
        [
          {
            "node": "Get Task_Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task_Table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)1": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_task_status=0": {
      "main": [
        [
          {
            "node": "if Task_id =null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if Task_id =null": {
      "main": [
        [
          {
            "node": "If due date is null",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If due date is null": {
      "main": [
        [
          {
            "node": "Create a task with no due date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a task": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "create_task_status=0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e8df4e35-141e-406a-9034-f97f78b16f20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d439c4d93c659f0613cd7f721f34cb95f1d33a263ec1a3aee355b8efbb09a1d"
  },
  "id": "i0FZ4MCHMn3pU2-oZbSNy",
  "tags": []
}